// NOTE: styles for map side panel view
$base-duration: 500ms;
$cubic: cubic-bezier(.64,.09,.08,1);
// Colors
$color-1: #004544;
$color-2: #9fd5b3;
$color-3: #E48F22;
$color-4: #CF3234;
$color-5: #444;
$white: #fff;

// Breakpoints
$sm: new-breakpoint(min-width 320px);
$med: new-breakpoint(min-width 768px);
$lg: new-breakpoint(min-width 1024px);

#local-services-results{
  display: none;
}

#local-services-results.active{
  display: block;
  position: relative;
  width: 100%;
  padding: 1em;
  background-color: $color-5;

  .local-content{
    column-count: 3;

    .info-section{
      background-color: lighten($color-5, 10%);
      color: $white;
      padding: .5em;
      margin-bottom: 1em;

      span{
        background-color: $color-4;
        padding: .5em;
      }
    }
  }

  #close-services-btn{
    position: absolute;
    top: 0;
    right: 0;
    width: 3em;
    height: 3em;
    display: flex;
    background-color: $color-4;
    color: $white;
    cursor: pointer;
    transition: all $base-duration $cubic;

    span{
      margin: auto;
    }
  }

  #close-services-btn:hover{
    width: 3.25em;
    height: 3.25em;
    transition: all $base-duration $cubic;
  }
}
